.panel {
  overflow-y: auto;
  overflow-x: hidden;
  top: 0; bottom: 0;
  width: ((5/6)*100vw);
  background-color: $c-g1;
  transition: transform 0.4s cubic-bezier(.72,.11,.23,.57), background 0.4s;
  cursor: pointer;

  // Editor
  &:first-of-type {
    left: 0;
    transform: translateX((29/36)* -100%);
  }
  // View
  &:last-of-type {
    right: 0; 
    transform: translateX((29/36)*100%);
  }

  &.is-active {
    background-color: white;
    transform: translateX(0);
    cursor: auto;
  }
}
.panel__inner {
  width: ((5/6)*100vw);

  &--view {
    @extend .panel__inner;
    padding: 120px 40px;

    @media (min-width: break(640)){
      padding: 120px calc((100% - 600px)/2);
    }
  }
}

// Editor
.editor {
  border: 0;
  resize: none;
  padding: 120px 40px;
  @media (min-width: break(640)){
    padding: 120px calc((100% - 600px)/2);
  }
}
