html,
body {
  color: #333;
}
body {
  padding: 1.5em;
}
input[type="radio"] {
  position: absolute;
  visibility: hidden;
  max-width: 100%;
  letter-spacing: 0.2em;
}
label {
  color: gray;
  cursor: pointer;
  font-size: 0.75rem;
}
input[type="radio"]:checked + label {
  color: black;
}
input[value="edit"]:checked ~ #edit {
  display: block;
}
input[value="preview"]:checked ~ #preview {
  display: block;
}

#edit {
  appearance: none;
  --webkit-appearance: none;
  border: 0;
  outline: 0;
  resize: none;
  font: inherit;
  overflow: hidden;
  min-height: 100vh;
}
#edit,
#preview {
  display: none;
  padding: 1.5em 0;
  max-width: 45em;
}
#preview.is-static {
  display: block;
}


.nav-link {
  color: gray;
  cursor: pointer;
  font-size: 0.75rem;
  background: none;
  line-height: 1.6;
  text-decoration: none;
}
.nav-link:hover {
  color: black;
}
#copy {
  display: none;
}

@media (min-width: 800px) {
  body {
    padding: 3em;
  }
  #edit,
  #preview {
    padding: 3em 0;
  }
}

blockquote {
  margin: 0;
}

ul,
ol {
  padding-left: 2em;
  margin: 1em 0;
}
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background: whitesmoke;
}
pre {
  margin: 2em 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background: whitesmoke;
  padding: 1em 2em;
  overflow: auto;
  max-width: 100%;
}
