<section class="editor js-editor">
  <!-- Insert header icons here -->

  <div class="editor__inner">
    <div class="editor__content js-editor-content" contenteditable="true">
      Begin by typing something here...
    </div>
  </div>
</section>
