<section class="panel w1 absolute is-active js-panel" data-panel="editor">
  <div class="panel__inner relative">

    <nav class="nav absolute px-20 align-r w1" role="editor">
      <button class="new nav__button align-m js-newDoc"><span class="js-icon __icon"></span></button>
    </nav>

    <textarea class="editor js-editor relative p h1 font-monospace" placeholder="Begin by typing something here..."></textarea>

  </div>
</section>
