<nav class="menu absolute u-fill" data-menu>
  <div class="menu__inner relative">
    <ul class="menu__list w1 block relative u-clear mhn-12" data-doclist>
      <li class="doc block relative float-l w1 w12_m w13_l ph-8 mb-16 template" data-doc="{{id}}">
        <div class="doc__inner relative p px-12 bg-c-w">
          <div class="doc__content mb-4" data-content>{{content}}</div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="menu__overlay absolute u-fill js-menuToggle"></div>
