<nav class="menu absolute u-fill bg-c-theme" data-menu>
  <div class="menu__inner relative">
    <ul class="menu__list w1 block relative u-clear" data-doclist>
    </ul>
  </div>
</nav>
<div class="menu__overlay absolute u-fill bg-c-w"></div>
