<section class="panel w1 absolute js-panel" data-panel="view">
  <div class="panel__inner--view relative">

    <!-- <nav class="nav absolute px-20 align-r w1" role="view"> -->
    <!--   <button class="download nav__button align-m js-download">Download</button> -->
    <!-- </nav> -->

    <div class="panel__content text-content js-view"></div>
    
  </div>
</section>
