<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="canonical" href="">

	<meta name="author" content="Eric Bailey">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="keywords" content="scss"/>
	<meta name="description" content="Base level styles for you next project."/>

	<!-- Icons -->
	<!-- <link rel="icon" type="image/png" href="assets/icons/favicon.png"> -->
	<!-- <link rel="apple-touch-icon-precomposed" href="assets/icons/apple-touch-icon-precomposed.png"><1!-- 57×57px --1> -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icons/apple-touch-icon-72x72-precomposed.png"> -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/icons/apple-touch-icon-76x76-precomposed.png"> -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icons/apple-touch-icon-114x114-precomposed.png"> -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/icons/apple-touch-icon-120x120-precomposed.png"> -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/apple-touch-icon-144x144-precomposed.png"> -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/icons/apple-touch-icon-152x152-precomposed.png"> -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="180x180" href="assets/icons/apple-touch-icon-180x180-precomposed.png"> -->
	<!-- <link rel="icon" sizes="192x192" href="assets/icons/touch-icon-192x192.png"> -->

	<!-- Open Graph data -->
	<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Base level styles for you next project."/>
	<meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Svbstrate"/>
	<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Svbstrate | A simple, scalable SCSS base layer." />
	<meta prefix="og: http://ogp.me/ns#" property="og:image" content="http://svbstrate.io/og_img.jpg" />
	<meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://svbstrate.io" />

  <script src="{{asset 'app.js'}}"></script>

  <link rel="stylesheet" type="text/css" href="{{asset 'style.css'}}"/>

  <title>Stash</title>
</head>
<body>
  <main class="app-container block relative h1 w1">

    <nav class="nav absolute px-20" role="main">
      <button class="nav__button button--ghost align-m js-menuToggle">{{> icon-menu}}</button>
      <span class="nav__button align-m user inline-relative pt-20 ml-20">{{> icon-user}}</span>
    </nav>

    {{> editor}}
    {{> view}}

    {{> menu}}

  </main>
</body>
</html>
